@using NetCode.Entity.Base_SysManage;
@using NetCode.Util;

@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";

    var obj = (Base_Access)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">
        
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">ID</label>
            <div class="col-sm-5">
                <input name="ID" value="@obj.ID" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Master</label>
            <div class="col-sm-5">
                <input name="Master" value="@obj.Master" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">MasterID</label>
            <div class="col-sm-5">
                <input name="MasterID" value="@obj.MasterID" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Access</label>
            <div class="col-sm-5">
                <input name="Access" value="@obj.Access" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">AccessID</label>
            <div class="col-sm-5">
                <input name="AccessID" value="@obj.AccessID" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Operation</label>
            <div class="col-sm-5">
                <input name="Operation" value="@obj.Operation" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">CreateUser</label>
            <div class="col-sm-5">
                <input name="CreateUser" value="@obj.CreateUser" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">CreateTime</label>
            <div class="col-sm-5">
                <input name="CreateTime" value="@obj.CreateTime" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    var theEntity = @objStr;

    $(function () {
        initEvent();
    });

    //事件绑定
    function initEvent() {
        //表单校验
        $('#form').validator().on('submit', function (e) {
            //校验成功
            if (!e.isDefaultPrevented()) {
                e.preventDefault();

                var values = $('#form').getValues();
                
                $.extend(theEntity, values);
                loading();
                $.postJSON('/Base_SysManage/Base_Access/SaveData', theEntity, function (resJson) {
                    loading(false);

                    if (resJson.Success) {
                        parent.$('#dataTable').bootstrapTable('refresh');
                        parent.dialogSuccess();
                        dialogClose();
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            }
        })
    }

    //提交表单
    function submitForm() {
        $('#submit').trigger('click');
    }
</script>