<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Scripts/vendor/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/vendor/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/vendor/adminlte/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Scripts/vendor/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">


    <!-- /.content -->
    <!-- jQuery -->
    <script src="~/Scripts/vendor/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->  
    <script src="~/Scripts/vendor/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ./wrapper -->
    <script src="~/Scripts/vendor/adminlte/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/vendor/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE -->
    <script src="~/Scripts/vendor/adminlte/dist/js/adminlte.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/vendor/adminlte/dist/js/adminlte.min.js"></script>

    <meta charset="utf-8" />
    <title>列表</title>

    <!-- jQuery -->
    <script src="~/Scripts/vendor/adminlte/plugins/jquery/jquery.min.js"></script>
    <!--bootstrap-->
    <link href="@Url.Scrpit("~/Scripts/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap/js/bootstrap-BtnBuilder.js")"></script>
    <!--bootstrap-table-->
    <link href="@Url.Scrpit("~/Scripts/vendor/bootstrap-table/bootstrap-table.min.css")" rel="stylesheet">
    <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap-table/bootstrap-table.min.js")"></script>
    <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap-table/bootstrap-table-zh-CN.min.js")"></script>
    <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap-table/bootstrap-table-treegrid.js")"></script>
    <!--layer-->
    <script src="@Url.Scrpit("~/Scripts/vendor/layer/layer.js")"></script>
    <script src="@Url.Scrpit("~/Scripts/vendor/layer/layer-extends.js")"></script>

    <script src="@Url.Scrpit("~/Scripts/util.js")"></script>

    <!--bootstrap-select-->
    @*<link href="@Url.Scrpit("~/Scripts/vendor/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet">
        <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
        <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap-select/bootstrap-select-extends.js")"></script>
        <script src="@Url.Scrpit("~/Scripts/vendor/bootstrap-select/defaults-zh_CN.min.js")"></script>*@
</head>
<body class="hold-transition sidebar-mini">
    @RenderBody();
</body>
</html>

